* {
  box-sizing: border-box;
}

body {
  color: #fefefe;
  margin: 0;
  background-color: #222;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.countdown {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: center;
  min-width: 100px;
}

.time {
  font-size: 4rem;
  font-weight: 500;
}

.label {
  font-size: 1.2rem;
  font-weight: 300;
}
